@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body{
    height: 100%;
    width: 100%;
}


/* shared classes... */
.poppins{
    font-family: "Poppins", sans-serif;
}

.round-btn{
    padding: 12px 25px;
    background-color: #E02C6D;
    border-radius: 41px;
    color: white;
    text-decoration: none;
    font-weight: 600;
}
.square-btn{

}



/* header is starting...  */
header{
    /* background-color: bisque; */
    padding: 87px 100px;
}
nav{
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
}
nav > i{
    font-size: 35px;
    display: none;
}
.logo-name h1{
    font-size: 24px;
}
.logo-name h1 span{
    color: #E02C6D;
}
ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
li{
    list-style: none;
    margin-left: 30px;
}
ul i{
    margin-left: 30px;
    font-size: 24px;
    cursor: pointer;
}
li a{
    text-decoration: none;
    color: black;
}
.hero-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}
.hero-section .left{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    gap: 30px;
    width: 50%;
}
.hero-section .left h1{
    font-size: 52px;
    font-weight: 800;
}
.hero-section .left h1 span{
    color: #E02C6D;
}
.hero-section .left p{
    font-size: 16px;
    color: rgba(0, 0, 0, 0.459);
}
.hero-section .left a{
    display: flex;
    justify-content: center;
    align-items: center;
}
.hero-section .left a i{
    color: white;
}
.hero-section .right{
    width: 50%;
}
.hero-section .right img{
    width: 100%;
}



/* main is starting...  */

main{
    padding: 30px 120px;
}



/* companies section is starting...  */
.companies-section{
    height: 90px;
    /* background-color: rgb(198, 255, 255); */
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 2px solid rgba(128, 128, 128, 0.163);
    border-bottom: 2px solid rgba(128, 128, 128, 0.163);
    box-shadow: 0px 0px 10px 5px rgba(214, 214, 214, 0.36);
    padding: 0px 20px;
    border-radius: 10px;
    margin-bottom: 100px;
}
.companies-section img{
    width: 70px;
}


/* popular-collection section is starting...  */
.popular-collection{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
}
.popular-collection > h1{
    font-size: 28px;
}
.popular-collection .cards{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}
.popular-collection .cards .card{
    /* background-color: gray; */
    box-shadow: 0px 0px 10px 3px rgba(92, 92, 92, 0.155);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    padding: 20px;
    gap: 20px;
}
.popular-collection .cards .card img{
    width: 100%;
}
.card h1{
    font-size: 28px;
}
.card h2{
    font-size: 24px;
    font-weight: 500;
}
.card .rating{
    color: #E02C6D;
    font-size: 18px;
}
.card p{
    font-size: 14px;
}
.see-more-div{
    /* background-color: #E02C6D; */
    width: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
}
.see-more-div > div{
    width: 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.see-more-div > div p, i{
    font-size: 20px;
    cursor: pointer;
    color: #E02C6D;
}







/* media query is starting...  */
@media screen and (max-width: 950px){
    nav > i{
        display: block;
    }
    nav ul li{
        display: none;
    }
    nav ul .search-icon{
        display: none;
    }
    nav ul i{
        margin-left: 0px;
        font-size: 35px;
    }
    .hero-section{
        flex-direction: column-reverse;
    }
    .hero-section .right{
        width: 80%;
    }
    .hero-section .left{
        width: 100%;
        text-align: center;
        align-items: center;
    }
    .companies-section{
        flex-wrap: wrap;
        gap: 50px;
        height: auto;
        text-align: center;
    }
    .popular-collection .cards{
        grid-template-columns: repeat(2, 1fr);
    }
}



@media screen and (max-width: 700px){
    .popular-collection .cards{
        grid-template-columns: repeat(1, 1fr);
    }
}


@media screen and (max-width: 576px) {
       
}